In [145]:
#importing libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import requests

In [146]:
#url to scrap page
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r = requests.get(URL) 

soup = bs(r.content, 'html5lib')

In [147]:
DataFrameHeader=[]
DataFrameObject={}
#loop over table row followed by table data to select data
for row in soup("tr"):
    for i,cell in enumerate(row("th",{'class':None})):
        DataFrameHeader.append(cell.text.replace('\n',''))
        DataFrameObject[cell.text.replace('\n','')]=[]
            
    for i,cell in enumerate(row("td",{'style':None})):
        if cell.text:
            DataFrameObject[DataFrameHeader[i]].append(cell.text.replace('\n',''))

df= pd.DataFrame(DataFrameObject) 
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [148]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)
df.head(5)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [149]:
#cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
#df = df.apply(assignNotassigned)
df['Neighborhood'] = np.where(df.Neighborhood == 'Not assigned'\
                                       ,df.Borough,df.Neighborhood)

In [150]:
#More than one neighborhood can exist in one postal code area
#combined into one row with the neighborhoods separated with a comma

dfNew = df.groupby('Postcode').agg({'Borough' :'first',
                                     'Neighborhood': ', '.join,
                                     }).reset_index()

In [151]:
dfNew.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [152]:
dfNew.shape

(103, 3)